{% extends 'base.html' %}
{% block content %}

<h1>View All Bachelors for {{ game.title }}</h1>




{% for bachelor in game.bachelors.all %}
    <h2>{{ bachelor.name }}</h2>
    <table>
        <thead>
            <tr>
                <th>Loved Gifts</th>
                <th>Liked Gifts</th>
                <th>Neutral Gifts</th>
                <th>Disliked Gifts</th>
                <th>Hated Gifts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{bachelor.loved}}</td>&nbsp;
                <td>{{bachelor.liked}}</td>&nbsp;
                <td>{{bachelor.neutral}}</td>&nbsp;
                <td>{{bachelor.disliked}}</td>&nbsp;
                <td>{{bachelor.hated}}</td>&nbsp;
            </tr>
        </tbody>
    </table>
    <a href="{% url 'bachelor_update' bachelor.id %}">Update Bachelor</a>&nbsp;
    {% if user.is_superuser %}
        <a href="{% url 'bachelor_delete' bachelor.id %}">Delete Bachelor</a>
    {% endif %}
{% endfor %}



{% endblock %}