{% extends 'base.html' %}
{% block content %}


<a href="javascript:history.back()" class="back">Back</a>

<div class="title-container">
    <h1>View All Bachelors for {{ game.title }}</h1>
</div>

{% for bachelor in game.bachelors.all %}
<a href="{% url 'bachelor_detail' bachelor.id %}"><h2>{{ bachelor.name }}</h2></a>
<div class="table-container">    
    <table class="gifts">
        <thead>
            <tr>
                <th>Loved Gifts</th>&nbsp;
                <th>Liked Gifts</th>&nbsp;
                <th>Neutral Gifts</th>&nbsp;
                <th>Disliked Gifts</th>&nbsp;
                <th>Hated Gifts</th>&nbsp;
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{bachelor.loved}}</td>&nbsp;
                <td>{{bachelor.liked}}</td>&nbsp;
                <td>{{bachelor.neutral}}</td>&nbsp;
                <td>{{bachelor.disliked}}</td>&nbsp;
                <td>{{bachelor.hated}}</td>&nbsp;
            </tr>
        </tbody>
    </table>
</div>
    <a href="{% url 'bachelor_update' bachelor.id %}">Update Bachelor</a>&nbsp;
    {% if user.is_superuser %}
        <a href="{% url 'bachelor_delete' bachelor.id %}">Delete Bachelor</a>
    {% endif %}
{% endfor %}



{% endblock %}