{% extends 'base.html' %}

{% block content %}

<a href="javascript:history.back()" class="back">Back</a>

<div class="title-container">
    {% if object %}
    <h1>Edit {{ bachelorette.name }} </h1>
    {% else %}
    <h1>Add Bachelorette</h1>
    {% endif %}
</div>


    <form action="" method="POST">
        {% csrf_token %}
        <table class="gifts">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Add Bachelorette" class="add-bachelorettebtn">
    </form>

{% endblock %}