{% extends 'base.html' %}

{% block content %}


{% if notes in note %}
<h1>Edit Note: {{ notes.content }} </h1>
{% else %}
<h1>Add Note for {{ game.title }}</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    {% for item in form %}
    <div class="fieldWrapper">
        {{ item.label }} {{ item }}
        {% if item.help_text %}
        {{ item.help_text|safe }}
        {% endif %}
    </div>
    <br>
    {% endfor %}
    <input type="submit" class="enter-notebtn" value="Add New Note">
</form>

{% endblock %}