{% extends 'base.html' %}

{% block content %}

<a href="javascript:history.back()" class="back">Back</a>

<div class="title-container">
    <h1> My Notes List</h1>
</div>

<h2 class="all-notes">All My Notes</h2>

{% for note in notes %}
<div class="notes-wrapper">
    <div class="notes-content">
        <h3 class="notegame">For {{ note.game }}</h3>
        <h3>{{ note.title }}</h3>
        <p>{{ note.updated_at }}</p>
        <p class="notecontent">{{ note.content }}</p>
    </div>
</div>
    <a href="{% url 'note_update' note.id %}">Edit Note</a>&nbsp;&nbsp;
    <a href="{% url 'delete_note' note.id %}">Delete Note</a>
{% endfor %}

{% endblock %}