{% extends 'base.html' %}
{% block content %}
<div class="title-container">
    <h1 class="about-title">About Harvest Moon Haven: </h1>
    <hr />
</div>
<div class="small-blurb">
    <section class="blurb">
        <p class="about">
            This website is a tribute to the fellow speedrunners I have met while streaming.
            <br />
            May this website help in routing, planning, and cutting down time during speedruns!
        </p>
    </section>
</div>
<div class="community-image">
    <img src="https://www.bokumono.com/series/welcome/assets/img/top/main_kv_pc.jpg" alt="bokumono-sosawl" class="about-image">
</div>


{% endblock %}