{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'css/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'css/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'css/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'css/images/site.webmanifest' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Harvest_Moon_Haven</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="container-base">
                <div class="nav-wrapper">
                    <a href="{% url 'home' %}" class="left brand-logo">&nbsp;Harvest_Moon_Haven</a></div>
                    <a href="{% url 'about' %}">About</a>
                    {% if user.is_superuser %}
                    <a href="{% url 'game_create' %}">Add Game</a>
                    <a href="{% url 'bachelor_create' %}">Create Bachelor</a>
                    <a href="{% url 'bachelorette_create' %}">Create Bachelorette</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <a href="{% url 'index' %}">View all Games Added List</a>
                    <a href="{% url 'notes_index' %}">View My Notes List</a>
                    <a href="https://www.speedrun.com/series/hm/games">Speedrun HM Link</a>
                    <img src="{% static 'css/images/1.png' %}" alt="baby-chu" class="icon">
                    <div class="user-info">&nbsp;Welcome,&nbsp;{{ user }}&nbsp;</div>
                    <a href="#">
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="submit-logout">Logout</button>
                        </form>
                    </a>
                    {% else %}
                    <a href="{% url 'signup' %}">Signup</a>
                    <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </div>            
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="center">All Rights Reserved, &copy;2024 Harvest_Moon_Haven &nbsp;</div>
    </footer>
</body>
</html>