{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Harvest_Moon_Haven</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul class="right">
                  <li><a href="{% url 'home' %}" class="left brand-logo">&nbsp;Harvest_Moon_Haven</a></li>
                  <li><a href="{% url 'about' %}">About</a></li>
                  {% if user.is_superuser %}
                  <li><a href="{% url 'game_create' %}">Add Game</a></li>
                  <li><a href="{% url 'bachelor_create' %}">Create Bachelor</a></li>
                  <li><a href="{% url 'bachelorette_create' %}">Create Bachelorette</a></li>
                  {% endif %}
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'index' %}">View all Games Added List</a></li>
                  <li><a href="{% url 'notes_index' %}">View My Notes List</a></li>
                  <li><a href="https://www.speedrun.com/series/hm/games">Speedrun HM Link</a></li>
                  <li>&nbsp;Welcome,&nbsp;{{ user }}&nbsp;</li>
                  <li>
                    <a href="#">
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="submit-logout">Logout</button>
                        </form>
                    </a>
                  </li>
                  {% else %}
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                  {% endif %}
                </ul>
            </div>            
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="center">All Rights Reserved, &copy;2024 Harvest_Moon_Haven &nbsp;</div>
    </footer>
</body>
</html>