:root {
    --lightbrown-color: #F5DEB3;
    --darkbrown-color: #996515;
    --lightgreen-color: #F0FFF0;
    --teagreen-color: #D0F0C0;
    --tan-color: #D2B48C;
    --bean-color: #3D0C02;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--lightgreen-color);

}

main {
    flex: 1 0 auto;

}

header {
    margin-bottom: 4rem;
    padding: 2rem 0;
    background-color: #F5DEB3;
    border-bottom: 4px solid #996515;
    box-shadow: 2px 2px 4px black;
    

}


ul.right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


li a {
    display: flex;
    color: white;
    font-family: 'Raleway';
    text-shadow: 1px 1px 1px black;
    text-align: center;
    padding: 11px 13px;
    text-decoration: none;
}
li {
    float: left;
}

li a:hover {
    background-color: rgba(153, 101, 21, 0.55);
}

h1 {
    font-family: 'funhouse';
    color: var(--lightbrown-color);
    text-shadow: 2px 2px 4px black;
}

footer.page-footer {
    padding-top: 0;
    text-align: center;
    font-family: 'Raleway';
    color: var(--bean-color);
    background-color: #F5DEB3;
    box-shadow: 2px 2px 4px black;
}


.submit-logout {
    background-color: transparent;
    border: none;
    color: white;
    text-shadow: 1px 1px black;
    cursor: pointer;
    font-family: 'Raleway';
    font-size: 16px;
}

button.submit-logout:focus {
    background-color: transparent;
    outline: none;
}

.image-container {
    display: grid;
    justify-content: center;
    padding: 1rem 0;
}

img.landing-image {
    height: 85%;
    width: 90%;

}

.games-container {
    display: grid;
}

div.small-blurb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.blurb {
    box-sizing: border-box;
    flex-wrap: wrap;
}
.community-image {
    display: grid;
    justify-content: center;
    padding-top: 1rem;

}
img.about-image {
    height: 85%;
    width: 100%; 
}
.title-container {
    display: grid;
    justify-content: center;
    padding: 5px;
}
p.about {
    font-family: 'Raleway';
    font-size: 1.5rem;
    color: var(--darkbrown-color);
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
.home, .about-title {
    font-style: bold;
    font-size: 3rem;
}
