:root {
    --lightbrown-color: #F5DEB3;
    --darkbrown-color: #996515;
    --lightgreen-color: #F0FFF0;
    --teagreen-color: #D0F0C0;
    --tan-color: #D2B48C;
    --bean-color: #3D0C02;
    --papayawhip-color: #FFEFD5;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--lightgreen-color);

}

main {
    flex: 1 0 auto;

}

header {
    margin-bottom: 4rem;
    padding: 2rem 0;
    background-color: #F5DEB3;
    border-bottom: 4px solid #996515;
    box-shadow: 2px 2px 4px black;
    width: fit-content;
    
}

.container-base{
    display: flex;
    align-items: center;

}

.nav-wrapper {
    flex: 1;
}

.nav-wrapper:first-child{
    margin-right: 10px;
}

a {
    color: white;
    font-family: 'Raleway';
    text-shadow: 1px 1px 2px black;
    text-align: center;
    padding: 11px 13px;
    text-decoration: none;
}

a:hover {
    background-color: rgba(153, 101, 21, 0.55);
}

.user-info {
    align-self: center;
    font-family: 'Raleway';
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 2px black;
    padding: 11px 13px 11px 4px;
}

h1, .all-notes {
    font-family: 'funhouse';
    color: var(--lightbrown-color);
    text-shadow: 2px 2px 4px black;
}

footer.page-footer {
    padding-top: 0;
    text-align: center;
    font-family: 'Raleway';
    color: var(--bean-color);
    background-color: #F5DEB3;
    box-shadow: 2px 2px 4px black;
}

button.submit-logout {
    background-color: transparent;
    border: none;
    color: white;
    text-shadow: 1px 1px black;
    cursor: pointer;
    font-family: 'Raleway';
    font-size: 16px;
    padding: 11px 13px;
}

button.submit-logout:focus {
    background-color: transparent;
    outline: none;
}

.image-container {
    display: grid;
    justify-content: center;
    padding: 1rem 0;
}

img.landing-image {
    height: 85%;
    width: 90%;

}

.games-container {
    display: grid;
}

div.small-blurb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.blurb {
    box-sizing: border-box;
    flex-wrap: wrap;
}

img.icon {
    padding: 5px;
}

.community-image {
    display: grid;
    justify-content: center;
    padding-top: 1rem;

}

img.about-image {
    height: 85%;
    width: 100%; 

}

.title-container {
    display: grid;
    justify-content: center;
    padding: 5px;
}

p.about {
    font-family: 'Raleway';
    font-size: 1.5rem;
    color: var(--bean-color);
    text-align: center;
    text-shadow: 2px 2px 4px var(--darkbrown-color);
}

.home, .about-title {
    font-style: bold;
    font-size: 3rem;
}
.red-text {
    color: red;
    font-family: 'Raleway';
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px black;
}

input {
    width: 100%;
    padding: 8px;
    border: 2px solid var(--darkbrown-color);
    border-radius: 5px;
    font-family: 'Raleway';
}

button[type=submit] {
    background-color: var(--lightbrown-color);
    color: var(--bean-color);
    padding: 6px 11px;
    border: 2px solid var(--bean-color);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--bean-color);
    align-items: center;

}

button[type=submit]:hover {
    color: white;
    background-color: var(--bean-color);
}

input[type=submit] {
    background-color: var(--lightbrown-color);
    color: var(--bean-color);
    padding: 6px 11px;
    margin: 10px;
    border: 2px solid var(--bean-color);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--bean-color);
    align-items: center;

}

input[type=submit]:hover {
    color: white;
    background-color: var(--bean-color);
}

.form-container {
    border: 6px var(--darkbrown-color);
    border-style: double;
    border-radius: 6px;
    background-color: var(--papayawhip-color);
    padding: 15px;
    box-shadow: 2px 2px 7px black;
}

label, .fieldWrapper {
    font-family: 'Raleway';
    font-size: 1.2rem;
    color: var(--bean-color);
    display: inline-block;
    padding: 8px;
}
.helptext {
    font-family: 'Raleway';
    font-size: 1rem;
}

li {
    font-family: 'Raleway';
}

li.game-title {
    font-size: 1.75rem;
    text-shadow: 2px 2px 5px #3D0C02;
}

.back {
    margin: 10px;
    color: var(--bean-color);
    font-size: 1.3rem;
}

.back:hover {
    color: white;
}

.table-container, .notes-wrapper {
    display: grid;
    padding: 12px;
}

table.gifts, thead, tbody {
    border: 2px var(--darkbrown-color);
    border-style: groove;
    background-color: var(--lightbrown-color);
    padding: 10px 6px;
    justify-content: center;

}

table.gifts {
    border-radius: 10px;
    border-style: solid;
}

th, td {
    font-family: 'Raleway';
    background-color: #FFEFD5;
    color: var(--bean-color);
    align-items: center;
}

textarea {
    resize: vertical;
    width: 450px;
}