{% extends 'base.html' %}
{% block content %}



<a href="javascript:history.back()" class="back">Back</a>

<div class="title-container">
    <h1>View All Bachelorettes for {{ game.title }}</h1>
</div>

{% for bachelorette in game.bachelorettes.all %}
<a href="{% url 'bachelorette_detail' bachelorette.id %}"><h2>{{ bachelorette.name }}</h2></a>
<div class="table-container">     
    <table class="gifts">
        <thead>
            <tr>
                <th>Loved Gifts</th>
                <th>Liked Gifts</th>
                <th>Neutral Gifts</th>
                <th>Disliked Gifts</th>
                <th>Hated Gifts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{bachelorette.loved}}</td>&nbsp;
                <td>{{bachelorette.liked}}</td>&nbsp;
                <td>{{bachelorette.neutral}}</td>&nbsp;
                <td>{{bachelorette.disliked}}</td>&nbsp;
                <td>{{bachelorette.hated}}</td>&nbsp;
            </tr>
        </tbody>
    </table>
</div>
    <a href="{% url 'bachelorette_update' bachelorette.id %}">Update Bachelorette</a>&nbsp;
    {% if user.is_superuser %}
        <a href="{% url 'bachelorette_delete' bachelorette.id %}">Delete Bachelorette</a>
    {% endif %}
{% endfor %}


{% endblock %}