{% extends 'base.html' %}
{% block content %}

<a href="javascript:history.back()" class="back">Back</a>

<div class="title-container">
    <h1>Currently Viewing {{ game.title }}'s Notes</h1>
</div>
<div class="game-detailcontainer">
    {% if user.is_superuser %}
        <a href="{% url 'game_update' game.id %}">Edit Title</a>
        <a href="{% url 'game_delete' game.id %}">Delete Game</a>
    {% endif %}
    <a href="{% url 'create_note' game.id %}">Create Note</a>
    <a href="{% url 'bachelors' game.id %}">All Bachelors</a>
    <a href="{% url 'bachelorettes' game.id %}">All Bachelorettes</a>
    {% if notes %}
    {% for note in notes %}
    <div class="notes-content">
        <h3>{{ note.title }}</h3>
        <h5>{{ note.updated_at }}</h5>
        <p class="notecontent">{{ note.content }}</p>
        <p>{{ user.username }}</p>
    </div>
    <div class="edit-delete">
        <a href="{% url 'note_update' note.id %}">Edit Note</a>
        <a href="{% url 'delete_note' note.id %}">Delete Note</a>
    </div>
    {% endfor %}
    {% else %}
    <div class="else">
        <h3 class="no-notes">No Notes Added</h3>
    </div>
    {% endif %}
</div>

{% endblock %}