{% extends 'base.html' %}
{% block content %}

<h1>Welcome To Games List </h1>
<hr />
<ul class="games-list">
    <div>
        <li>Harvest Moon 64</li>
        <li>Harvest Moon Save the Homeland</li>
        <li>Harvest Moon Magical Melody</li>
        <li>Harvest Moon Friends of Mineral Town</li>
        <li>Story of Seasons Friends of Mineral Town</li>
        <li>Harvest Moon More Friends of Mineral Town</li>
        <li>Harvest Moon A Wonderful Life</li>
        <li>Story of Seasons A Wonderful Life</li>
        <li>Harvest Moon DS</li>
        <li>Harvest Moon DS Cute</li>
        <li>Story of Seasons Pioneers of Olive Town</li>
    </div>
</ul>

{% endblock %}